@model IEnumerable<PrivateTransport.Models.Route>

<!--
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.startDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.freeSeats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.startDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.freeSeats)
        </td>

    </tr>
}

</table>
    -->
    <img class="img-responsive" src="~/Content/assets/img/pricing-bg.jpg" />